@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
#nav{
    /* position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1; */
}
#collapsible-nav-dropdown{
    /* background-color: black; */
    /* z-index: 0; */
}
/* #item {
    background-color: white;
    width: 100px;
    margin-left: 20px;
    position:fixed;
    overflow: hidden;
       z-index: 2;
}
#item2{
    background-color: white;
    position: fixed;
    width: 100px;

    top: 100px;
    left:489px;
    z-index: 2;

} */
#caro{
    /* position:fixed; */
    width: 100%;

    z-index: 0;
}

#mar{
    padding : 7px;
    background-color:black;
    color: beige;
}
#card{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
   
    /* background-image: (url(../Images/bg/bgg.avif)); */
    /* position: fixed; */
    /* z-index: 0; */
}
#card #car1,#car2,#car3,#car4,#car5,#car6,#car7,#car8{
    box-shadow: 5px 5px 10px 8px rgba(0,0,0,0.2);
    /* margin: 20px; */
    margin-bottom: 30px;
    border-radius: 10px;
     cursor: pointer;
}
#car1{
    overflow: hidden;
}
 Img{
    transition: transform 0.7s;
}
#car1:hover Img{
    /* scale:1.1; */
    transform: scale(1.1);
}
/* ========== */
#car2{
    overflow: hidden;
}
 Img{
    transition: transform 0.7s;
}
#car2:hover Img{
    /* scale:1.1; */
    transform: scale(1.1);
}
/* =========== */
#car3{
    overflow: hidden;
}
 Img{
    transition: transform 0.7s;
}
#car3:hover Img{
    /* scale:1.1; */
    transform: scale(1.1);
}
/* ========== */
#car4{
    overflow: hidden;
}
 Img{
    transition: transform 0.7s;
}
#car4:hover Img{
    /* scale:1.1; */
    transform: scale(1.1);
}
/* =========== */
#car5{
    overflow: hidden;
}
 Img{
    transition: transform 0.7s;
}
#car5:hover Img{
    /* scale:1.1; */
    transform: scale(1.1);
}
/* ========== */
#car6{
    overflow: hidden;
}
 Img{
    transition: transform 0.7s;
}
#car6:hover Img{
    /* scale:1.1; */
    transform: scale(1.1);
}
/* ========== */
#car7{
    overflow: hidden;
}
 Img{
    transition: transform 0.7s;
}
#car7:hover Img{
    /* scale:1.1; */
    transform: scale(1.1);
}
/* ========= */
#car8{
    overflow: hidden;
}
 Img{
    transition: transform 0.7s;
}
#car8:hover Img{
    /* scale:1.1; */
    transform: scale(1.1);
}



#cardf{
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
}
#cardf #c1,#c2,#c3,#c4,#c5{

  margin: 10px;
  padding: 20px;
  box-shadow: 5px 5px 10px 8px rgba(0,0,0,0.2);

}
#font1{
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 34px
}
#cardf{
    box-shadow: 0px 0px 10px 12px  rgba(0,0,0,0.2);

}
@media(max-width:1041px){
    #card{
        width: 100%;
        display: grid;
        grid-template-columns: auto  auto auto;
    }
    #car1{
      
        /* padding: 10px; */
        margin: 10px;
         width: 12rem;
         height: 28rem;
    }
    #cm1{
        /* width: 14rem;
        height: 35rem; */
        width: 200px;
       
    }
    #car2,#car3,#car4,#car5,#car6,#car7,#car8{
        margin: 10px;
        width: 12rem;
        height: 28rem;
    }

    #cm2,#cm3,#cm4,#cm5,#cm6,#cm7,#cm8{
        width: 200px;
         
    }
 }
 @media(max-width:769px){
    #caro{
        width: 100%;
        /* height: 40px; */
    }
    #cardf{
        /* position: absolute; */
        margin-top: 10px;
        height: 250px;

    }
      
     #t1,#t2,#t3,#t4,#t5{
        /* font-weight: bold; */
         /* border: 2px  solid black; */
        position: relative;
         bottom: 25px;

        
    }
    #m1,#m2,#m3,#m4,#m5{
        /* border: 2px  solid black; */
          position: relative;
         bottom: 25px;
         width: 70%;
         height: 60px;
         left: 10px;

        

    }

    #card{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
    }
    #car1{
      
        /* padding: 10px; */
        margin: 10px;
         width: 12rem;
         height: 28rem;
    }
    #cm1{
        /* width: 14rem;
        height: 35rem; */
        width: 200px;
       
    }
    #car2,#car3,#car4,#car5,#car6,#car7,#car8{
        margin: 10px;
        width: 12rem;
        height: 28rem;
    }

    #cm2,#cm3,#cm4,#cm5,#cm6,#cm7,#cm8{
        width: 200px;
         
    }
    #ban{
        height: 200px;
    }
 }
 @media(max-width:426px){
    #caro{
        /* height: 300px; */
        /* width: 70%; */
    }
    #cimg,#cimg2,#cimg3,#cimg4{
        height: 300px;
    }
    #card{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto ;
    }
    #cardf{
        /* display: grid;
        grid-template-columns: auto auto ; */
        /* margin-top: 10px; */
        /* height: 250px; */
        /* width: 40px; */
        /* height: 40px;
         */
         /* width: 40px; */
     display: none;
      
       
    }
    #c1{
       height: 120px;
       box-sizing: 20px;
       width: 10rem;
      
       /* display:none; */
       /* position: relative;
       right: 30px; */
         

       
    }
    #t1{
        /* width: 30px; */
        border: 2px  solid black;
        font-size: 90px;
        display: none;
       
        /* width: 20px; */

    }
    #m1{
        width: 50px;
        height: 40px;
        border: 2px  solid black;
        
        
    }
 }
 @media(max-width:376px){
    #card{
        width: 100%;
        display: grid;
        grid-template-columns: auto  ;
    }
 }
 /* =========================================================================================================== */
/* ====================================Testimonal===================================== */
